<table border="1">
    <tr>
        <td>Title</td>
        <td>{{ book.title }}</td>
    </tr>
    <tr>
        <td>Author</td>
        <td>{{ book.author }}</td>
    </tr>
    <tr>
        <td>Pages</td>
        <td>{{ book.pages }}</td>
    </tr>
</table>