<!DOCTYPE html>
<html>
<head>
    <title>Twig usage</title>
    <meta charset="utf-8">
</head>
<body>
{% include "header.twig" %}
<hr/>

{% include "ifelse.twig" %}
<hr/>

{% include "for.twig" %}
<hr/>

{% include "book.twig" %}
<hr/>

{% include "filters.twig" %}
<hr/>

{% include "footer.twig" %}
</body>
</html>