{% extends 'layout.twig' %}

{% block title %}MyApp / User{% endblock %}
{% block content %}
    Привет, {{ user.login }}<br/>
    <a href="/auth/logout">выйти</a>

    <div>
        {% for item in history %}
            <li>{{ item.url }}</li>
        {% endfor %}
    </div>
{% endblock %}