{% extends 'layout.twig' %}

{% block title %}Add good{% endblock %}

{% block content %}
    <a href="/goods">Back to goods</a>

    <form action="" method="post">
        title: <input name="title"><br/>
        price <input name="price"><br/>
        <input type="submit" value="send">
    </form>
{% endblock %}