{% if _user %}
    Привет, {{ _user.login }}
    <a href="/logout">Выйти</a>
{% else %}
    <a href="/login">Войти</a>
{% endif %}
<div style="float: right">
    <a href="/basket">Корзина</a> [{{ _basket.count }}]
</div>
<hr/>